<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="container my-5 ">
    <div class="card shadow">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col"> Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">SSN</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let citzen of citizens;let i = index;">
                        <td>{{emp.eid}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.salary}}</td>
                        <td><button class="btn btn-danger btn-sm" (click)="onClickDelete(i)"><span
                                    class="material-symbols-outlined">
                                    delete
                                </span></button></td>
                    </tr> -->

                </tbody>
            </table>
        </div>
    </div>