<div class="container my-4 mx-auto">
    <div class="card shadow mb-3">
        <div class="card-header ">
            <h2>Correspondence</h2>
        </div>
    </div>
    <div class="card shadow mb-3 my-3" *ngIf="appdata!=null">
        <div class="card-body  my-3 ">
            <table class="table text-center table-bordered table-striped table-sm p-3 fs-6">
                <thead style="height: 40px;" >
                    <tr >
                        <th scope="col" class="text-secondary">S.NO</th>
                        <th scope="col" class="text-secondary">App Number</th>
                        <th scope="col" class="text-secondary">Plan Name</th>
                        <th scope="col" class="text-secondary">Plan Status</th>
                        <th scope="col" class="text-secondary">Start Date</th>
                        <th scope="col" class="text-secondary">End Date</th>
                        <th scope="col" class="text-secondary">Benfit Amount</th>
                        <th scope="col" class="text-secondary">Print Notice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{1}}</td>
                        <td>{{appdata.appNumber}}</td>
                        <td>{{appdata.planName}}</td>
                        <td>{{appdata.eligStatus}}</td>
                        <td>{{appdata.eligStartDate}}</td>
                        <td>{{appdata.eligEndDate}}</td>
                        <td>{{appdata.benfitAmount}}</td>
                        <td><button class="btn btn-sm " (click)="generateNotice()"><i class='bx bxs-printer bx-flashing'
                            style='color:rgba(83, 9, 9, 0.943);font-size: 20px;'></i></button></td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>


</div>