<div class="container my-4 mx-auto">
    <div class="card shadow mb-3">
        <div class="card-header ">
            <h2>Kids Details</h2>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-body  ">
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="row g-3">
                <label for="appNumber">App Number :</label><br>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="appNumber" [value]="appNumber"
                        [ngClass]="{ 'is-invalid': isSubmit && con.appNumber.invalid }" readonly>
                    <div *ngIf="isSubmit && con.appNumber.invalid" class="invalid-feedback">
                        App Number is required
                    </div>
                </div>
                <ng-container *ngFor="let kid of kidsArray; let i = index">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="kidName">Kid Name :</label><br>
                            <input type="text" class="form-control" [formControlName]="'kidName'+i"
                                [ngClass]="{ 'is-invalid': isSubmit && registerForm.get('kidName'+i).invalid }">
                            <div *ngIf="isSubmit && registerForm.get('kidName'+i).invalid" class="invalid-feedback">
                                Kid Name is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="kidDob">Kid DOB :</label><br>
                            <input type="date" class="form-control" [formControlName]="'kidDob'+i"
                                [ngClass]="{ 'is-invalid': isSubmit && registerForm.get('kidDob'+i).invalid }">
                            <div *ngIf="isSubmit && registerForm.get('kidDob'+i).invalid" class="invalid-feedback">
                                Kid Dob is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="kidSSN">Kid SSN :</label><br>
                            <input type="text" class="form-control" [formControlName]="'kidSSN'+i"
                                [ngClass]="{ 'is-invalid': isSubmit && registerForm.get('kidSSN'+i).invalid }">
                            <div *ngIf="isSubmit && registerForm.get('kidSSN'+i).invalid" class="invalid-feedback">
                                Kid SSN is required
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="col-12 text-center">
                    <button type="button" (click)="addKid()" class="btn btn-primary shadow me-5">Add Kid</button>
                    <button type="submit" class="btn btn-primary shadow">Save Income Data</button>
                </div>
            </form>
        </div>
    </div>
</div>
