<div class="container my-4 mx-auto">
    <div class="card shadow mb-3">
        <div class="card-header ">
            <h2>Pending Notices</h2>
        </div>
    </div>
    <div class="card shadow ">
        <div class="card-body ">
            <div class="mb-3 form-group">
                <label for="name" class="form-label">App Number</label>
                <input type="text" class="form-control bg-light fw-bold" placeholder="" name="name"
                    [(ngModel)]="appNumber" required readonly>
            </div>
            <div class="col-12 ">
                <button type="submit" class="btn btn-primary shadow " (click)=" searchPendingNotices()">Search</button>
            </div>
        </div>
    </div>
    <div class="card shadow mb-3 my-3" *ngIf="coData!=null && flag">

        <div class="card-body  my-3 ">
            <table class="table text-center table-bordered table-striped table-sm p-3 fs-6">
                <thead class="text-secondary">
                    <tr>
                        <th scope="col" class="text-secondary">S.NO</th>
                        <th scope="col" class="text-secondary">NoticeId</th>
                        <th scope="col" class="text-secondary">App Number</th>
                        <th scope="col" class="text-secondary">Notice Status</th>
                        <th scope="col" class="text-secondary">Print Notice</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{1}}</td>
                        <td>{{coData.coNoticeId}}</td>
                        <td>{{coData.appNumber}}</td>
                        <td>{{coData.coStatus}}</td>
                        <td><button class="btn btn-sm " (click)="generateNotice()"><i class='bx bxs-printer bx-flashing'
                            style='color:rgba(83, 9, 9, 0.943);font-size: 20px;'></i></button></td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>